<%= link_to main_post_path(post), class: 'flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700' do %>
  <div class="flex-shrink-0 mr-4">
    <% if post.images.present? %>
      <% post.images.each do |image| %>
        <%= image_tag image, class: 'object-cover w-full rounded-t-lg h-98 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg' %>
      <% end %>
    <% end %>
  </div>
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= post.user&.display_name %></h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">@<%= post.user.nickname %></p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.note %></p>
    <% if post.may_make_published? %>
      <%= button_to 'Publish', post_published_main_post_path(post), method: :put, class: 'underline' %>
    <% end %>
  </div>
<% end %>
